{% extends "ideas/base.html" %}

{% block title %}Eureka - Sign in{% endblock %}

{% block content %}

<div class="container">

  <div class="panel panel-default login-panel">
    <div class="panel-body">
      <h1>Sign in to your account</h1>
      <p>Don't have an account? <a href="{% url 'signup' %}">Sign up.</a></p>
      <hr>
      <form class="form-authentication" class="form-horizontal" role="form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <div class="form-group {% if login_form.non_field_errors %}has-error{% endif %}">
          <label class="control-label col-sm-2" for="username">Username</label>
          <div class="col-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input name="username" type="text" class="form-control" value="{{login_form.username.value}}" placeholder="Username" autocomplete="off" required autofocus>
            </div>
          </div>
        </div>

        <div class="form-group {% if login_form.non_field_errors %}has-error{% endif %}">
          <label class="control-label col-sm-2" for="username">Password</label>
          <div class="col-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <input name="password" type="password" class="form-control" placeholder="Password" required>
            </div>
            <span class="help-block">{{login_form.non_field_errors}}</span>
          </div>
          
        </div>
        <!-- 
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        -->
        <input type="hidden" name="next" value="{{ next }}" />
        <button class="btn btn-success pull-right" type="submit">Sign in</button>
      </form>
    </div>
  </div>

</div> <!-- /container -->

{% endblock %}
