{% extends "ideas/base.html" %}

{% block title %}Eureka - Sign up{% endblock %}

{% block content %}
<div class="container">
  <div class="panel panel-default login-panel">
    <div class="panel-body">
      <form class="form-authentication" role="form" action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <h2 class="text-center">Sign Up</h2>
        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
          <label for="email">Email</label>
          <input name="email" type="email" class="form-control" placeholder="Email" value="{{form.email.value}}" autocomplete="off" required autofocus>
          <span class="help-block">{{form.errors.email}}</span>
        </div>
        <div class="form-group {% if form.username.errors %}has-error{% endif %}">
          <label for="username">Username</label>
          <input name="username" type="text" class="form-control" placeholder="Username" value="{{form.username.value}}" required>
          <span class="help-block">{{form.errors.username}}</span>
        </div>
        <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
          <label for="password">Password</label>
          <input name="password1" type="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
          <label for="confirm_password">Confirm password</label>
          <input name="password2" type="password" class="form-control" placeholder="Confirm password" required>
          <span class="help-block">{{form.errors.password2}}</span>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div> <!-- /container -->

{% endblock %}