{% extends "ideas/base.html" %}

{% block title %}Eureka - {{idea.title}}{% endblock %}

{% block navbar-links %}

<ul class="nav navbar-nav">
  {% if user.is_authenticated %}
  <li class="active"><a href="{% url 'ideas' %}">IDEAS</a></li>
  <li><a href="#">USERS</a></li>
  {% endif %}
</ul>

{% endblock %}

{% block content %}
{% load humanize %}
<div class="container">

	<div class="page-header">
		<a class="pull-left" href="#"><img class="media-object" src="{{idea.owner_gravatar}}" alt="...">  </a>
		<h1>{{idea.title}} <small>by <a href="#">{{idea.user.username}}</a></small></h1>
		<span>{{idea.created|naturaltime}}</span>
	</div>

	<p>{{idea.text}}</p>

</div><!-- /.container -->
{% endblock %}
