{% extends "ideas/users/base.html" %}

{% block title %}Eureka - {{user_.username}}{% endblock %}

{% block content %}

{% load humanize %}
{% load gravatar %}

<div class="sub-navbar">
  <div class="container">
    <ol class="breadcrumb pull-left">
        <li><a href="{% url 'index' %}">Eureka</a></li>
        <li class="active"><a href="{% url 'users' %}">Users</a></li>
        <li class="active">{{user_.username}}</li>
    </ol>
    {% if user.id == user_.id %}
    <button type="submit" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-edit"></span> Edit my profile</button>
    {% endif %}
  </div>
</div>

<div class="container">
    <div class="row user-details">

        <div class="col-md-4">
            <div class="panel panel-default sidebar">
                <div class="panel-body">
                    <img src="{% gravatar_url user_.email 260 %}" alt="{{user_.username}} gravatar" class="img-rounded">
                    {% if user_.first_name %}
                    <h3>{{user_.first_name}} {{user_.last_name}}</h3>
                    {% else %}
                    <h3>{{user_.username}}</h3>
                    {% endif %}
                    <h4>{{user_.username}}</h4>
                    <hr>
                    <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{user_.email}}">{{user_.email}}</a></p>
                    <p><span class="glyphicon glyphicon-time"></span> Joined {{user_.date_joined|naturaltime}}</p>
                    <hr>
                    <div class="row stats text-center">
                        <div class="col-md-4 col-sm-4">
                            <span>{{user_.idea_set.count}}</span>
                            <span class="description">idea{% if user_.idea_set.count != 1 %}s{% endif %}</span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <span>{{user_.interest_set.count}}</span>
                            <span class="description">interest</span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <span>{{user_.comment_set.count}}</span>
                            <span class="description">comment{% if user_.interest_set.count != 1 %}s{% endif %}</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="{% if tab == 'ideas' %}active{% endif %}"><a href="{% url 'user' user_id=user_.id tab='ideas' %}"><i class="fa fa-lightbulb-o"></i> Ideas ({{user_.idea_set.count}})</a></li>
                        <li class="{% if tab == 'interests' %}active{% endif %}"><a href="#"><span class="glyphicon glyphicon-eye-open"></span> Interested in ({{user_.interest_set.count}})</a></li>
                        <li class="{% if tab == 'comments' %}active{% endif %}"><a href="{% url 'user' user_id=user_.id tab='comments' %}"><span class="glyphicon glyphicon-comment"></span> Comments ({{user_.comment_set.count}})</a></li>
                    </ul>

                    {% if list_items|length == 0 %}
                    <h4 class="lead">Ooops, it looks like there are no {{tab}} to show you.</h4>
                    {% else %}
                    
                        {% if tab == 'ideas' %}
                        <div class="clearfix">
                            <ul class="nav nav-pills pull-right">
                                <li><a href="#" class="user-idea-filter filter-selected" data-filter="all">All</a></li>
                                <li><a href="#" class="user-idea-filter" data-filter="popular">Popular</a></li>
                                <li><a href="#" class="user-idea-filter" data-filter="approved">Approved</a></li>
                                <li><a href="#" class="user-idea-filter" data-filter="idle">Idle</a></li>
                                <li><a href="#" class="user-idea-filter" data-filter="rejected">Rejected</a></li>
                            </ul>
                        </div>
                        <hr class="small-hr">
                        {% endif %}

                    <div class="list-user-items">
                        {% if tab == 'ideas' %}
                            {% for idea in list_items %}
                            <div class="list-user-item clearfix all{% if idea.state == 'A'%} approved{% elif idea.state == 'R' %} rejected{% else %} idle{% endif %}">
                                <h4 class="media-heading lead">
                                    <a href="{% url 'idea' idea_id=idea.id %}">{{idea.title}}</a>
                                    <small class="text-muted"> {{idea.created|naturaltime}}</small></h4>
                                <p>{{idea.text|truncatewords:"40"}}</p>
                                <small class="text-muted">last edited {{idea.updated|naturaltime}}</small>

                                <div class="idea-stats pull-right">
                                    {% if idea.state == "I"%}
                                    <span class="label label-warning">idle</span>
                                    {% elif idea.state == "A" %}
                                    <span class="label label-success">approved</span>
                                    {% else %}
                                    <span class="label label-danger">rejected</span>
                                    {% endif %}
                                    <span class="label label-default"><span class="glyphicon glyphicon-comment"></span> {{idea.interest_set.count}} interested</span>
                                    <span class="label label-default"><span class="glyphicon glyphicon-comment"></span> {{idea.comment_set.count}} comment{% if idea.comment_set.count != 1 %}s{% endif%}</span>
                                    <span class="label label-default"><span class="glyphicon glyphicon-thumbs-up"></span> 0 likes</span>
                                    <!-- <span class="label label-default">4 users interested</span> -->
                                </div>

                            </div>
                            {% endfor %}

                        {% elif tab == 'comments' %}
                        <span class="label comment-timeline-label">Now</span>
                        <div class="comment-timeline">
                            <div class="timeline"></div>
                            {% for comment in list_items %}
                            <div class="comment-timeline-item {% if not forloop.counter|divisibleby:'2' %}timeline-left{% else %}timeline-right{% endif %}">
                                <span class="label" title="{{comment.created}}">{{comment.created|naturaltime}}</span>
                                <p>{{comment.text}}</p>
                                <small><a href="{% url 'idea' idea_id=comment.idea.id %}">{{comment.idea.title}}</a></small>
                            </div>
                            {% endfor %}
                        </div>

                        <span class="label comment-timeline-label">{{user_.date_joined|naturaltime}}</span>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div> <!-- /user-details -->
</div> <!-- /container -->

{% endblock %}
