{% extends "ideas/base.html" %}

{% block title %}Eureka - {{user.username}}{% endblock %}

{% block content %}

{% load humanize %}
{% load gravatar %}

<div class="sub-navbar">
  <div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Eureka</a></li>
        <li><a href="{% url 'users' %}">Users</a></li>
        <li class="active">{{user.username}}</li>
    </ol>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="idea idea-details">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="{% gravatar_url user.email 48%}" alt="...">
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading lead"><a href="#">{{user.username}}</a></h4>

                        <p>e-mail: {{user.email}}</p>
                        <h3>Ideas</h3>
                        {% for idea in user_ideas_list %}
                            <p>{{idea.title}}</p>
                        {% endfor %}
                        <h3>Interested</h3>
                        <h3>Last comments</h3>
                        <h3>Likes</h3>
                    </div>

                    <p class="pull-left">Sign up:{{user.date_joined|naturaltime}}</p>
                    <p class="pull-left">Last login:{{user.last_login|naturaltime}}</p>
                </div> <!-- /mediabody -->
            </div> <!-- /media -->
        </div>
    </div>
</div> <!-- /container -->

{% endblock %}
