<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Eureka Help{% endblock %}</title>

    {% load staticfiles %}
    <link href="{% static 'ideas/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ideas/css/font-awesome.min.css' %}">
    <link href="{% static 'ideas/css/onepage-scroll.css' %}" rel="stylesheet">

</head>

<body>
    
    <div class="main">
        <section class="page1">
          <div class="page_container text-center">
            <h1>Eureka Help Guide</h1>
            <h2 class="lead">All you need to know to start using this website right away!</h2>
            <p>(scroll down to know more)</p>
            <p><i class="fa fa-arrow-down"></i></p>
          </div>
          <img src="../../static/ideas/images/img1.png" alt="">
        </section>
        <section class="page2">
          <div class="page_container text-center">
            <h1>Create a new account</h1>
            <h2 class="lead">With 3 simple steps you can get a brand new account.</h2>
          </div>
          <img src="{% static 'ideas/images/help/createAccount.png' %}" alt="">
        </section>
        <section class="page2">
          <div class="page_container text-center">
            <h1>Sign in</h1>
            <h2 class="lead">Already have an account? Go straight ahead then.</h2>
          </div>
          <img src="{% static 'ideas/images/help/signIn.png' %}" alt="">
        </section>
        <section class="page3">
          <div class="page_container text-center">
            <h1>Ideas Feed</h1>
            <h2 class="lead">A beautiful and simple way of seeing the ideas.</h2>
          </div>
          <img src="{% static 'ideas/images/help/listIdeas.png' %}" alt="">
        </section>
        <section class="page4">
          <div class="page_container text-center">
            <h1>New Ideas</h1>
            <h2 class="lead">Don't wait another minute to share that awesome idea you just had!</h2>
          </div>
          <img src="{% static 'ideas/images/help/newIdea.png' %}" alt="">
        </section>
        <section class="page5">
          <div class="page_container text-center">
            <h1>User Profiles</h1>
            <h2 class="lead">Check a user's profile to see all his posts and ideas he finds interesting.</h2>
          </div>
          <img src="{% static 'ideas/images/help/profile.png' %}" alt="">
        </section>
        <section class="page6">
          <div class="page_container text-center">
            <h1>Idea's Page</h1>
            <h2 class="lead">Read all details of an idea, comment on it, share your interest or simply like it.</h2>
          </div>
          <img src="{% static 'ideas/images/help/idea.png' %}" alt="">
        </section>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'ideas/js/build/production.min.js' %}"></script>

    <script>
        $(".main").onepage_scroll({
           sectionContainer: "section",     // sectionContainer accepts any kind of selector in case you don't want to use section
           easing: "ease",                  // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in", 
                                            // "ease-out", "ease-in-out", or even cubic bezier value such as "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
           animationTime: 1000,             // AnimationTime let you define how long each section takes to animate
           pagination: true,                // You can either show or hide the pagination. Toggle true for show, false for hide.
           updateURL: false,                // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
           beforeMove: function(index) {},  // This option accepts a callback function. The function will be called before the page moves.
           afterMove: function(index) {},   // This option accepts a callback function. The function will be called after the page moves.
           loop: false,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
           keyboard: true,                  // You can activate the keyboard controls
           responsiveFallback: false        // You can fallback to normal page scroll by defining the width of the browser in which
                                            // you want the responsive fallback to be triggered. For example, set this to 600 and whenever 
                                            // the browser's width is less than 600, the fallback will kick in.
        });
    </script>
    
</body>
</html>
