{% extends "ideas/base.html" %}

{% block title %}Eureka - Homepage{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>The simplest way to share ideas</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	{% if user.is_authenticated %}
	    <p><a class="btn btn-lg btn-default" href="ideas/add" role="button">Add an Idea!</a></p>
	{% else %}
	    <p><a class="btn btn-lg btn-default" href="#" role="button">Sign up today</a></p>
	{% endif %}
  </div>
</div>

<div class="container">
  <hr>
  
  <div class="row marketing">
    
    <h1 class="text-center">What makes Eureka great</h1>

    <div class="col-lg-4">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>

    <div class="col-lg-4">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>

    <div class="col-lg-4">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>

  </div> <!-- row marketing -->

</div> <!-- /container -->

{% endblock %}
