html, body {
    height: 100%;
    background-color: #e6e9e8;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

a {
    color: #1DA1DE;
}

a:hover,
a:focus {
    color: #1DA1DE;
}

.brand-bc {
    background-color: #1Da1de;
}

textarea {
  resize: none;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

footer {
    height: 60px;
    padding-top: 20px;
    border-top: 1px solid #d9d9d9;
    background-color: white;
}

footer .links>a:not(:last-of-type) {
    margin-right: 20px;
}

.pager {
    margin: 10px 0 0;
}

.bootstrap-tagsinput input {
    min-width: 300px;
}

.well {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0 8px 10px -6px #d9d9d9;
       -moz-box-shadow: 0 8px 10px -6px #d9d9d9;
            box-shadow: 0 8px 10px -6px #d9d9d9;
}

.container>.panel {
    margin-top: 20px;
}

.modal .alert {
    margin: 20px 10px 20px;
}

.modal-dialog {
    padding-top: 90px;
    width: 500px;
}

.modal-backdrop {
    background: none;
}

.modal-header {
    color: #878787;
}

.modal .list-group {
    margin: 0;
}

.modal .list-group .list-group-item:first-child,
.modal .list-group .list-group-item:last-child {
    border-radius: 0;
}

.modal .list-group .list-group-item:first-child {
    border-top-color: transparent;
}

.modal .list-group .list-group-item:last-child {
    border-bottom-color: transparent;
}

.modal .list-group h4 {
    margin: 0;
    color: #878787;
}

.modal .list-group .col-md-10,
.modal .list-group .col-sm-10 {
    padding-left: 0;
}

.overflowable {
    max-height: 400px;
    overflow-y: scroll;
}

.self {
    background-color: #eee;
}

.modal-body {
    color: #878787;
}

.modal-body>.list-group {
    margin-bottom: 0;
}

.modal-footer {
    margin-top: 0;
    padding: 10px 20px 10px 10px;
}

.breadcrumb {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

/* NAVBAR */


/* Change the docs' brand */
.navbar-inverse .navbar-brand {
    font-weight: bold;
    margin-right: 15px;
    color: #15729E;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
}

.navbar-inverse .navbar-brand img {
    height: 32px;
    width: 34px;
    margin-right: 5px;
    margin-bottom: 6px;
}

.navbar-inverse .navbar-brand:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,255,255,.1), 0 0 30px rgba(0,255,255,.4);
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 0 -60px;
    padding: 0 0 80px;
}

@media screen and (max-width: 768px) {

    .wrap {
        padding-top: 50px;
    }

    .navbar-inverse {
        background-color: #1DA1DE;
        border-color: #1989BD;
        color: white;
    }

    .navbar-inverse .navbar-toggle {
        border-color: white;
    }

    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: #1989BD;
    }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: white;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: white;
    }

    .navbar-inverse .navbar-nav>.active>a,
    .navbar-inverse .navbar-nav>.active>a:hover,
    .navbar-inverse .navbar-nav>.active>a:focus {
        color: white;
        background-color: #1989BD;
    }
}

@media screen and (min-width: 768px) {

    .wrap {
        padding-top: 80px;
    }

    .navbar-inverse {
        background-color: #1DA1DE;
        height: 80px;
        border-color: #1989BD;
        -webkit-transition: all .1s linear;
         -moz-transition: all .1s linear;
              transition: all .1s linear;
    }

    .index .navbar-inverse {
        border: 0;
    }

    .index .navbar {
        margin-bottom: 0;
    }

    .nav-tiny {
        height: 50px;
        opacity: 0.9;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #fff;
    }

    .navbar-brand {
        line-height: 30px;
        padding: 25px 15px;
        font-size: 24px;
    }

    .nav-tiny .navbar-brand {
        padding: 10px 15px;
    }

    .navbar-nav:not(.navbar-right)>li>a {
        padding: 30px 5px 30px 5px;
        min-width: 90px;
        text-align: center;
        -webkit-transition: all .1s linear;
         -moz-transition: all .1s linear;
              transition: all .1s linear;
    }

    .nav-tiny .navbar-nav:not(.navbar-right)>li>a {
        padding: 15px 5px;
        width: auto;
    }

    .navbar-right>li>a {
        padding-top: 30px;
        text-align: center;
        -webkit-transition: all .1s linear;
         -moz-transition: all .1s linear;
              transition: all .1s linear;
    }

    .nav-tiny .navbar-right>li>a {
        padding-top: 15px;
    }

    .navbar-inverse .navbar-nav:not(.navbar-right)>li>a:hover,
    .navbar-inverse .navbar-nav:not(.navbar-right)>li>a:focus {
        /*background-color: #1989BD;*/
        text-decoration: underline;
    }

    .navbar-inverse .navbar-right>li>a:hover,
    .navbar-inverse .navbar-right>li>a:focus {
        color: #555;
    }

    .navbar-inverse .navbar-nav>.active>a, 
    .navbar-inverse .navbar-nav>.active>a:hover, 
    .navbar-inverse .navbar-nav>.active>a:focus {
        background-color: #1989BD;
        padding: 30px 5px 30px;
        position: relative;
        text-decoration: none;
    }

    .nav-tiny .navbar-nav>.active>a,
    .nav-tiny .navbar-nav>.active>a:hover, 
    .nav-tiny .navbar-nav>.active>a:focus {
        padding: 15px 20px;
    }

    .navbar-inverse .navbar-nav>.active>a:after {
        content: "";
        display: block;
        position: absolute;
        width:0;
        height:0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        top: 70px;
        left: 35px;
    }

    .nav-tiny .navbar-nav>.active>a:after {
        display: none;
    }

    .navbar-btn {
        margin-top: 23px;
        margin-bottom: 23px;
        border: 1px solid #fff;
        border-radius: 4px;
        color: #fff;
        background-color: #1DA1DE;
    }

    .navbar-right img {
        border-radius: 4px;
        border: 1px solid #fff;
        margin-right: 5px;
    }

    .navbar-inverse .navbar-link {
        color: #fff;
        margin-right: 10px;
    }

    .navbar-right .navbar-link:hover,
    .navbar-right .navbar-link:focus {
        color: #fff;
        text-decoration: underline;
    }

    .nav .navbar-btn:hover,
    .nav .navbar-btn:focus {
        background-color: #fff;
        color: #1DA1DE;
        border: 1px solid #1DA1DE;
    }

}

.jumbotron {
    background-color: #1Da1de;
    text-align: center;
    margin-bottom: 0;
    color: white;
    padding-top: 30px;
    padding-bottom: 0;
}

.jumbotron img {
    width: 80%;
    margin: 40px auto 0;
    border-radius: 6px 6px 0 0;
    border: 1px solid #ddd;
}

.jumbotron h1 {
    font-size: 48px;
    font-weight: 200;
}

.marketing {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 30px;
}

.marketing h1 {
    margin-bottom: 30px;
    font-weight: 200;
}

.featurette-divider {
    margin: 40px 0;
}

.marketing p {
    margin-bottom: 20px;
}

.btn-info:hover,
.btn-info:focus {
    background-color: #1DA1DE;
    border-color: #1DA1DE;
    color: #fff;
}

.btn-lg {
    border-radius: 4px;
}

.form-authentication {
    max-width: 360px;
    margin: 0 auto;
}

.login-panel,
.sign-up-panel {
    padding-bottom: 20px;
}

.form-control {
    height: 40px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-color: #ddd;
    border-width: 1px;
}

.form-control:focus {
    border-color: #1DA1DE;
}

.form-control:focus,
.has-error .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.sub-navbar {
    border-bottom: 1px solid #d9d9d9;
    color: #666;
    background-color: #fff;
}

.sub-navbar h4,
.sub-navbar .nav-pills,
.sub-navbar .breadcrumb {
    padding-top: 20px;
}

.sub-navbar .btn {
    margin-top: 16px;
}

.sub-navbar h4 {
    margin: 0;
    padding-bottom: 20px;
}

.sub-navbar .lead {
    font-size: 18px;
    padding-bottom: 18px;
}

.sub-navbar input {
    height: 31px;
    margin-top: 16px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    padding: 5px;
    color: #878787;
}

.nav-pills>li>a {
    border-bottom: 3px solid transparent;
    padding: 0 0 20px;
    margin: 0 10px 0;
    border-radius: 0;
    color: #666;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    /*background-color: #1DA1DE;*/
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border-bottom: 3px solid #1989BD;
}

.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
    background-color: #fff;
    text-decoration: underline;
}

.ideas-list,
.users-list {
    margin-top: 15px;
}

.created {
    padding-left: 10px;
    color: #A3A3A3;
}

.ideas-list .idea {
    position: relative;
    margin-bottom: 15px;
}

.idea:not(.idea-details):before {
    content: "";
    display: block;
    position: absolute;
    width:0;
    height:0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: 24px;
    left: 44px;
}

.media {
    background-color: #fff;
    margin-top: 14px;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 8px 10px -6px #d9d9d9;
       -moz-box-shadow: 0 8px 10px -6px #d9d9d9;
            box-shadow: 0 8px 10px -6px #d9d9d9;
}

.idea-sidebar>.panel {    
    border-radius: 4px;
    -webkit-box-shadow: 0 8px 10px -6px #d9d9d9;
       -moz-box-shadow: 0 8px 10px -6px #d9d9d9;
            box-shadow: 0 8px 10px -6px #d9d9d9;
}

.idea-sidebar>.panel:last-child {
    margin-top: 20px;
}

.idea-sidebar>.btn:not(:last-of-type) {
    margin-bottom: 20px;
}

.idea-sidebar>hr {
    border-top-color: #e6e9e8;
}

.idea-sidebar .panel-title {
    color: #666;
    font-size: 14px;
}

.idea-sidebar .list-group .hoverable {
    color: #a7a7a7;
}

.idea-sidebar .options .list-group {
    font-weight: bold;
    font-size: 12px;
}

.idea-sidebar .list-group {
    color: #878787;
}

.idea-sidebar>.panel>.list-group>.list-group-item,
.idea-sidebar>.panel {
    border: 0;
}

.idea-sidebar .list-group>.list-group-item:not(:first-child) {
    border-top: 1px solid #ebebeb;
}

.idea-sidebar .list-group>.hoverable:hover,
.idea-sidebar .list-group>.hoverable:focus {
    cursor: pointer;
    background-color: #f4f4f4;
    color: #878787;
}

.idea .media img,
.user .media img {
    border-radius: 10px;
}

.idea .media-heading,
.user .media-heading,
.comment .media-heading {
    font-size: 17px;
    margin-bottom: 0;
}

.idea .media-body > h4 + h4,
.user .media-body > h4 + h4 {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 10px;
}

.idea .media-body,
.user .media-body {
    color: #878787;
}

.idea .idea-tag {
    background-color: #1Da1de;
}

.idea .media .interested img {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.idea .interested {
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
    border-left: 3px solid #ebebeb;
}

.idea .interested .lead {
    font-size: 15px;
    margin-bottom: 5px;
}

.idea-details,
.idea-sidebar {
    margin-top: 20px;
}

.users-list .user {
    padding: 5px;
    float: left;
    width: 50%;
}

.find-user {
    margin-right: 10px;
}

.pager li>a {
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .users-list .user {
        width: 33.3%;
    }
}

.user-details {
    padding-top: 20px;
}

.user-details .sidebar h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.user-details .sidebar h4 {
    margin-top: 0;
    color: #878787;
    font-weight: 300;
}

.user-details .sidebar hr {
    margin: 15px 0 15px;
}

.user-details .sidebar .glyphicon {
    color: #878787;
    margin-right: 5px;
}

.user-details .sidebar .stats span {
    display: block;
    font-weight: bold;
    font-size: 28px;
}

.user-details .sidebar .stats .description {
    font-size: 12px;
    color: #878787;
}

.user-details .nav-tabs>li>a {
    padding: 5px 15px;
    color: #a7a7a7;
}

.user-details .nav-tabs>li>a:hover,
.user-details .nav-tabs>li>a:focus {
    background-color: #f4f4f4;
    border-color: transparent transparent #ddd;
}

.user-details .nav-tabs>li.active>a {
    color: #555;
}

.user-details .nav-tabs {
    margin-bottom: 10px;
}

.user-details .nav-pills>li>a {
    color: #1Da1de;
    margin: 0;
    padding: 4px 0;
}

.user-details .nav-pills>li:not(:last-child)>a {
    margin-right: 10px;
}

.user-details .nav-pills>li>.filter-selected {
    color: #555;
    font-weight: bold;
}

.small-hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-user-items>.list-user-item {
    border-bottom: 1px solid #ebebeb;
    padding: 15px 5px 15px;
}

.list-user-items {
    color: #878787;
    margin-bottom: 15px;
}

.comment-timeline-label {
    display: inline-block;
    width: 30%;
    background-color: #1Da1de;
    margin-left: 35%;
}

.comment-timeline-label:first-of-type {
    margin-top: 10px;
    margin-bottom: 4px;
}

.comment-timeline-label:last-of-type {
    margin-top: 4px;
}

.comment-timeline {
    position: relative;
    padding-top: 10px;
    margin-bottom: 20px;
}

.comment-timeline>.comment-timeline-item {
    background-color: #ebebeb;
    margin-right: 55%;
    margin-left: 10%;
    position: relative;
    margin-top: 25px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
}

.comment-timeline-item>p {
    margin-bottom: 0;
}

.comment-timeline-item.timeline-right {
    margin-right: 10%;
    margin-left: 55%;
}

.comment-timeline-item:before {
    content: "";
    display: block;
    position: absolute;
    width:0;
    height:0;
    top: 8px;
}

.comment-timeline-item:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #1Da1de;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 4px solid white;
    top: 4px;
}

.timeline-left:before {
    border-left: 8px solid #ebebeb;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    left: 100%;
}

.timeline-left:after {
    left: 108%;
}

.timeline-right:before {
    border-left: 8px solid transparent;
    border-right: 8px solid #ebebeb;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    left: -16px;
}

.timeline-right:after {
    left: -20%;
}

.comment-timeline-item>.label {
    position: absolute;
    color: #878787;
    background-color: transparent;
    top: 8px;
}

.timeline-left>.label {
    left: 121%;
}

.timeline-right>.label {
    right: 120%;
}

.comment-timeline>.timeline {
    background-color: #ebebeb;
    width: 2%;
    height: 100%;
    position: absolute;
    left: 49%;
}

.edit-idea {
    margin-top: 20px;
    padding: 20px 30px 10px;
}

.edit-idea .btn[type="button"] {
    margin-left: 5px;
}

.comments {
    margin-top: 20px;
}

.comments>.lead {
    margin-bottom: 0px;
}

.comments>form {
    border-bottom: 1px dashed #ebebeb;
}

.comments>form img {
    border-radius: 4px;
}

.comments>form>.form-group {
    padding-left: 40px;
}

.comment {
    border-bottom: 1px dashed #ebebeb;
    padding: 8px 0px 6px;
}

.comment>a {
    margin-left: 2px;
}

.comment>a>img {
    border-radius: 4px;
}

.comment-body {
    padding-left: 40px;
    color: #878787;
}

.comment-body>form {
    margin-top: 10px;
}

.comment-body small i {
    visibility: hidden;
}

.comment-body small i:hover {
    cursor: pointer;
    color: #555;
}

.comment-body:hover small i {
    visibility: visible;
}

.comment .close {
    display: none;
}

.comment:hover .close {
    display: inline-block;
}

.typeahead>.active>a,
.typeahead>.active>a:hover,
.typeahead>.active>a:focus {
    background-color: #1Da1de;
}

.errorlist {
    list-style: none;
    padding-left: 0;
}

.list-user-item a img {
    border-radius: 4px;
    margin-right: 10px;
}